@using Dynamicweb.Rendering
@inherits RazorTemplateBase<RazorTemplateModel<Template>>

<body>
	<fieldset>
		<legend>@Translate("errorheader", "An error has happend")</legend>
		<p>
			<b>@GetString("CheckoutHandler:ErrorMessage")</b></br>
			@if(GetString("CheckoutHandler:ErrorType") == "SavedCard")
			{
				<span>
					@Translate("errorcomment", "The credit card is no longer attached to this shop. The credit card token is expired or deleted. Make a new payment in order to save the credit card again.")
				</span>
			}
		</p>
	</fieldset>
</body>